<div id="expand_container"><i class="fa fa-info"></i></div>
<div id="login_info_container">
  <span id="close_container">X</span>
  <div id="login_info">
    <ul>
      <li id="user_name_info"><i class="fa fa-user"></i> <%= @user_name %></li>
      <li class="liLabel">Name:</li>
      <li><%= @current_marathon_name %></li>
      <li class="liLabel">Today is:</li>
      <li><%= @current_date.strftime("%m/%d/%y") %></li>
      <li class="liLabel">Training started on:</li>
      <li><%= @trainingStart.strftime("%m/%d/%y")%></li>
      <li class="liLabel">Week number:</li>
      <li><%= @training_week_number %></li>
      <li class="liLabel">Distance logged:</li>
      <li><%= @total_distance_run %></li>
      <li id="signOut"><a href="/logout">Sign out</a></li>
    </ul>
  </div>
</div>
<h2 id="cd_h2">Training hasn't started yet!</h2>

<h3>Your training starts in <%= @days_until_formatted %> days! You are on the <%= @current_skill_level %> training plan.</h3>
<!-- Note: changing training week number to a diff variable, naming it one -->
<% @countdown_page_training_week_number_one = 1 %>
<% inc = 2 %>
<table class="runningTimeTbl bgChange">

  <% for inc in 1..18 %>
  <tr class="daysListing">
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 1).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 1).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 2).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 2).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 3).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 3).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 4).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 4).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 5).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 5).strftime("%m/%d")  %></td>
    <td class="daysListText"><%= (@trainingStart + (inc - 1) * 7 + 6).strftime("%A")  %>, <%= (@trainingStart + (inc - 1) * 7 + 6).strftime("%m/%d")  %></td>
  </tr>

  <tr class="daysListingVals">
    <td class="cd_lt"><%= @set_skill_level[inc][0] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][1] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][2] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][3] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][4] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][5] %></td>
    <td class="cd_lt"><%= @set_skill_level[inc][6] %></td>
  </tr>

  <% end %>
</table>
