<h2>Data if they haven't started yet</h2>
<p>Welcome, <%= @user_name %>.

<p>We are so excited that you have decided to use Running M8 to prep for the <%= @current_marathon_name %> on <%= @current_formatted_marathon_date.strftime("%m/%d/%y") %>.

<p>Today is <%= @current_date.strftime("%m/%d/%y") %> and your training start date is <%= @trainingStart.strftime("%m/%d/%y")  %>, which means that your training starts in <%= @days_until_formatted%> days (<%= @weeks_away %> weeks)!


<p><h2>Data if they have started</h2>
<p>Welcome back, <%= @user_name %>!

<p>You are on <b>week number <%= @training_week_number %></b> of your training!

<p>So far, you have run RB total_distance RB miles!

  <p> <%= @select_tracker.to_json %>
<hr>
<p> <%= @tracker_json = JSON.parse(@select_tracker.to_json) %>


<!-- <table style="width:100%"> -->
<form action="/tracker/dashboard" method="post">
  <input type="hidden" name="settings_id" value="settings_id">
<!-- NEED TO CREATE @VARIABLE for settings_id -->
  <p>

<p><input type ="hidden" name="week" value=<%="\"#{@training_week_number}\""%>></p>

  <!-- NEED TO FIGURE OUT HOW WEEK WILL BE FILLED IN -->
<!-- Note: Week 18 will be the Saturday or Sunday that contains the marathon date and then back out from that. -->
<h2>Today is <%= @current_date.strftime("%m/%d/%y") %></h2>

  <p><%= @duplicate_message %>

<table>


  <tr>
    <td>Monday, <%= (@trainingStart + (@training_week_number - 1) * 7).strftime("%m/%d")  %></td>
    <td>Tuesday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 1).strftime("%m/%d")  %></td>
    <td>Wednesday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 2).strftime("%m/%d")  %></td>
    <td>Thursday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 3).strftime("%m/%d")  %></td>
    <td>Friday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 4).strftime("%m/%d")  %></td>
    <td>Saturday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 5).strftime("%m/%d")  %></td>
    <td>Sunday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 6).strftime("%m/%d")  %></td>
  </tr>
  <tr>
    <td><input type="number" name="distance_mon"></td>
    <td><input type="number" name="distance_tues"></td>
    <td><input type="number" name="distance_wed"></td>
    <td><input type="number" name="distance_thurs"></td>
    <td><input type="number" name="distance_fri"></td>
    <td><input type="number" name="distance_sat"></td>
    <td><input type="number" name="distance_sun"></td>
  </tr>
<tr>
  <td><%= @novice[@training_week_number][0] %></td>
  <td><%= @novice[@training_week_number][1] %></td>
  <td><%= @novice[@training_week_number][2] %></td>
  <td><%= @novice[@training_week_number][3] %></td>
  <td><%= @novice[@training_week_number][4] %></td>
  <td><%= @novice[@training_week_number][5] %></td>
  <td><%= @novice[@training_week_number][6] %></td>
</tr>
</table>

<input type="submit" value="Submit">
</form>
