<div id="login_info">
  <ul>
    <li><i class="fa fa-user"></i><%= @user_name %></li>
    <li><%= @current_marathon_name %></li>
    <li>Today is ~<%= @current_date.strftime("%m/%d/%y") %>~</li>
    <li>your training start date is ~<%= @trainingStart.strftime("%m/%d/%y")%>~</li>
    <li>You are on <b>week number ~<%= @training_week_number %>~</li>
    <li>You have ran <%= @total_distance_run %></li>
  </ul>
</div>

<p><h2>Data if they have started</h2>
<p>Welcome back, <%= @user_name %>!

<p>You are on <b>week number <%= @training_week_number %></b> of your training!

  <p>You have ran <%= @total_distance_run %> miles already!


<!-- <table style="width:100%"> -->
<form action="/tracker/dashboard" method="post">
  <input type="hidden" name="settings_id" value="settings_id">
<!-- NEED TO CREATE @VARIABLE for settings_id -->
  <p>

<input type ="hidden" name="week" value=<%="\"#{@training_week_number}\""%>>

  <!-- NEED TO FIGURE OUT HOW WEEK WILL BE FILLED IN -->
<!-- Note: Week 18 will be the Saturday or Sunday that contains the marathon date and then back out from that. -->
<h2>Today is <%= @current_date.strftime("%m/%d/%y") %></h2>

  <p><%= @duplicate_message %>

  <div class="runningTimeTbl">


    <ul class="daysListing">
      <li class="daysListText">Monday, <%= (@trainingStart + (@training_week_number - 1) * 7).strftime("%m/%d")  %></li>
      <li class="daysListText">Tuesday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 1).strftime("%m/%d")  %></li>
      <li class="daysListText">Wednesday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 2).strftime("%m/%d")  %></li>
      <li class="daysListText">Thursday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 3).strftime("%m/%d")  %></li>
      <li class="daysListText">Friday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 4).strftime("%m/%d")  %></li>
      <li class="daysListText">Saturday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 5).strftime("%m/%d")  %></li>
      <li class="daysListText">Sunday, <%= (@trainingStart + (@training_week_number - 1) * 7 + 6).strftime("%m/%d")  %></li>
    </ul>
    <ul class="daysListingInput">
      <li class="distNums"><input type="number" name="distance_mon"></li>
      <li class="distNums"><input type="number" name="distance_tues"></li>
      <li class="distNums"><input type="number" name="distance_wed"></li>
      <li class="distNums"><input type="number" name="distance_thurs"></li>
      <li class="distNums"><input type="number" name="distance_fri"></li>
      <li class="distNums"><input type="number" name="distance_sat"></li>
      <li class="distNums"><input type="number" name="distance_sun"></li>
    </ul>
    <ul class="daysListingVals">
      <!-- saving this for later because it is cool :)
    <% @novice[@training_week_number].each do |num| %>
      <input type="text" name="name" value="<%= num %>">
    <% end %> -->
      <li class="listingVals"><%= @novice[@training_week_number][0] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][1] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][2] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][3] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][4] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][5] %></li>
      <li class="listingVals"><%= @novice[@training_week_number][6] %></li>
    </ul>
    <button type="submit" value="Submit" class="submit_btn"><i class="fa fa-sign-in"></i></button>

  </div>

</form>
