<script type="text/javascript">
  bgImg = {
    'background-image': 'url(https://tau0.files.wordpress.com/2012/11/high_road_bw.jpg)',
    'background-size': 'cover',
    'background-repeat': 'no-repeat'
  }
  $('#container_dynamic').css(bgImg);
</script>
<!-- This one line of ruby takes the selected weeks ago from the user (logged in params) and turns it into an integer and variable. -->
<% @how_many_weeks_back = params[:weeksago].to_i %>



<div id="expand_container"><i class="fa fa-info"></i></div>
<div id="login_info_container">
  <span id="close_container">X</span>
  <div id="login_info">
    <ul>
      <li id="user_name_info"><i class="fa fa-user"></i> <%= @user_name %></li>
      <li class="liLabel">Name:</li>
      <li><%= @current_marathon_name %></li>
      <li class="liLabel">Today is:</li>
      <li><%= @current_date.strftime("%m/%d/%y") %></li>
      <li class="liLabel">Training started on:</li>
      <li><%= @trainingStart.strftime("%m/%d/%y")%></li>
      <li class="liLabel">Week number:</li>
      <li><%= @training_week_number - @how_many_weeks_back %></li>
      <li class="liLabel">Distance logged:</li>
      <li><%= @total_distance_run %></li>
      <li id="signOut"><a href="/logout">Sign out</a></li>
    </ul>
  </div>
</div>

<div id="week_nav">
  <select id="super_select"onChange="window.location.href=this.value" style="font-family: 'Rubik', sans-serif; font-size: 3vh; margin-top: 5%; border: 3px solid black; background-color: rgba(#f2f2f2, .3); ">
    <option value='#'>Navigator</option>
    <option value='/tracker/dashboard'>Current Week</option>
    <option value='/tracker/dashboard_week?weeksago=1'>1 Week Ago</option>
    <option value='/tracker/dashboard_week?weeksago=2'>2 Weeks Ago</option>
    <option value='/tracker/dashboard_week?weeksago=3'>3 Weeks Ago</option>
    <option value='/tracker/dashboard_week?weeksago=4'>4 Weeks Ago</option>
  </select>
</div>
<h3 id="week_msg">This many weeks ago: <%= params[:weeksago] %></h3>

<form action="/tracker/dashboard_week" method="post">
  <input type="hidden" name="settings_id" value="settings_id">
  <input type ="hidden" name="week" value=<%="\"#{@training_week_number - @how_many_weeks_back}\""%>>

  <table id="dashboard_tbl"class="runningTimeTbl">


    <tr class="daysListing">
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 1).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 2).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 3).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 4).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 5).strftime("%m/%d")  %></td>
      <td class="daysListText"><%= (@trainingStart + (@training_week_number - @how_many_weeks_back - 1) * 7 + 6).strftime("%m/%d")  %></td>
    </tr>
    <tr class="daysListingInput">
      <td class="distNums"><input type="number" name="distance_mon" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_tues" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_wed" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_thurs" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_fri" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_sat" placeholder="#" min="0" max="150"></li>
      <td class="distNums"><input type="number" name="distance_sun" placeholder="#" min="0" max="150"></li>
        <input type="hidden" name="weeksago" value=<%="\"#{@how_many_weeks_back}\""%>>
    </tr>
    <tr class="userInputVals">
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_mon"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_tues"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_wed"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_thurs"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_fri"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_sat"].to_i%></li>
      <td class="userVals"><%=@select_tracker_for_current_week_json[0]["distance_sun"].to_i%></li>
    </tr>
    <tr class="daysListingVals">
      <!-- saving this for later because it is cool :)
    <% @novice[@training_week_number].each do |num| %>
      <input type="text" name="name" value="<%= num %>">
    <% end %> -->
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][0] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][1] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][2] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][3] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][4] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][5] %></li>
      <td class="listingVals"><%= @set_skill_level[@training_week_number - @how_many_weeks_back][6] %></li>
    </tr>
    <tr id="submit_row">
      <td></td>
      <td></td>
      <td></td>
      <td id="tbl_submit_btn">
        <button type="submit" value="Submit" class="submit_btn"><i class="fa fa-sign-in"></i></button>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>
</form>
