<hr>
<h1>You have run <%= @total_distance_run %> miles already!</h1>
<hr>
<p>Want to <a href=/logout>log-out?</a>


<!-- <table style="width:100%"> -->
<form action="/tracker/dashboard" method="post">
  <input type="hidden" name="settings_id" value="settings_id">
<!-- NEED TO CREATE @VARIABLE for settings_id -->
  <p>

<p><input type ="hidden" name="week" value=<%="\"#{@training_week_number_history}\""%>></p>

  <!-- NEED TO FIGURE OUT HOW WEEK WILL BE FILLED IN -->
<!-- Note: Week 18 will be the Saturday or Sunday that contains the marathon date and then back out from that. -->
<h2>You are viewing last week's data!</h2>

  <p><%= @duplicate_message %>

<table>


  <tr>
    <td>Monday, <%= (@trainingStart + (@training_week_number_history - 1) * 7).strftime("%m/%d")  %></td>
    <td>Tuesday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 1).strftime("%m/%d")  %></td>
    <td>Wednesday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 2).strftime("%m/%d")  %></td>
    <td>Thursday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 3).strftime("%m/%d")  %></td>
    <td>Friday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 4).strftime("%m/%d")  %></td>
    <td>Saturday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 5).strftime("%m/%d")  %></td>
    <td>Sunday, <%= (@trainingStart + (@training_week_number_history - 1) * 7 + 6).strftime("%m/%d")  %></td>
  </tr>
  <tr>
    <td><input type="number" name="distance_mon"></td>
    <td><input type="number" name="distance_tues"></td>
    <td><input type="number" name="distance_wed"></td>
    <td><input type="number" name="distance_thurs"></td>
    <td><input type="number" name="distance_fri"></td>
    <td><input type="number" name="distance_sat"></td>
    <td><input type="number" name="distance_sun"></td>
  </tr>
<tr>
  <td><%= @novice[@training_week_number_history][0] %></td>
  <td><%= @novice[@training_week_number_history][1] %></td>
  <td><%= @novice[@training_week_number_history][2] %></td>
  <td><%= @novice[@training_week_number_history][3] %></td>
  <td><%= @novice[@training_week_number_history][4] %></td>
  <td><%= @novice[@training_week_number_history][5] %></td>
  <td><%= @novice[@training_week_number_history][6] %></td>
</tr>
</table>

<input type="submit" value="Submit">
</form>
